---
---

<div
  class="hidden md:flex bg-blue-900 dark:bg-slate-800 dark:border-slate-800 dark:text-slate-400 border-b border-blue-900 text-sm px-3 py-2 text-gray-200 overflow-hidden whitespace-nowrap text-ellipsis align-middle"
>
  <span class="text-xs pt-0.5 px-1 bg-primary dark:bg-slate-700 dark:text-slate-300 font-semibold">SĐT</span>
  <span class="px-1 text-xs pt-0.5">090 747 5572</span>

  <span class="text-xs pt-0.5 px-1 bg-primary dark:bg-slate-700 dark:text-slate-300 font-semibold">EMAIL</span>
  <span class="px-1 text-xs pt-0.5">sonvietloi@gmail.com</span>
</div>
