---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import { YouTube } from '@astro-community/astro-embed-youtube';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{
      text: 'Download Catalogue',
      href: 'https://drive.google.com/file/d/1CkTyr9oxA2nlrXCB15Ox-f2fqn2I26s5/view?fbclid=IwAR2Vg-NJlzbmuU_2sXcJrcvJ_5yNO1R8tYgTPUeHkwbEt_ykkTN1EepXaCI',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">CÔNG TY TNHH MTV TM & KT VIỆT LÔI</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Chúng tôi là công ty chuyên nghiệp uy tín trong lĩnh vực tư vấn cung cấp giải pháp chống sét trực tiếp chống sét
        lan truyền và hệ thống tiếp địa an toàn. Mục tiêu hoạt động của công ty <span class="font-semibold highlight"
          >VIỆT LÔI</span
        > chúng tôi là đem đến cho khách hàng những giải pháp tối ưu nhất, được thể hiện qua các khâu: khảo sát, tư vấn,
        thiết kế, cung cấp thiết bị chất lượng tốt, giá cả hợp lý, lắp đặt trong thời gian ngắn, bảo hành và bảo trì trong
        quá trình sử dụng.
      </span>
    </Fragment>
  </Hero>

  <Content title="Dây Chuyền Sản Xuất" subBg={true}>
    <Fragment slot="image">
      <YouTube id="TZCOmZjDm4g" />
    </Fragment>
  </Content>

  <Content
    title="Sản Phẩm"
    subLink="/products"
    image={{
      src: import('~/assets/images/products.jpg'),
      alt: 'Products',
    }}
  />
  <style is:global>
    #content[aria-hidden='true'] {
      display: none;
    }
  </style>
</Layout>
