---
import logo from '../assets/images/logo.png';
import { Image } from '@astrojs/image/components';
---

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <Image src={logo} alt="Việt Lôi" width={225} class="md:w-max w-1/2" />
</span>
